.App {
  text-align: center;
}

.rounded-outline-box {
  width: 270px;
  background-color: transparent; /* 배경색을 투명하게 설정 */
  border: 2px solid #e2e2e2; /* 초록색 테두리 */
  border-radius: 10px; /* 모서리의 둥글기 정도 */
  margin: 20px; /* 여백 추가 */
}
.del-btn {
  padding: 8px 16px;
  font-size: 14px;
  color: rgb(0, 0, 0);
  background-color: #9ea0a3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.edit-btn {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #0073e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}


.checkbox-container {
  display: flex;
  align-items: center;
  font-size: 14px;
  color: #333;
}

.checkbox-container input[type="checkbox"] {
  margin-right: 5px;
}

.comment-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start; /* 왼쪽 정렬 */
  width: 100%;
  max-width: 600px;
  margin: 0;
  border-bottom: 1px solid transparent;
}

.comment-textarea {
  flex-grow: 1;
  min-height: 24px;
  max-height: 200px;
  resize: none;
  overflow: hidden;
  padding: 8px 10px;
  font-size: 14px;
  line-height: 1.5;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  box-sizing: border-box;
  transition: background-color 0.2s, min-height 0.2s;
  margin-right: 10px;
}

.comment-textarea:focus {
  background-color: #fff;
  outline: none;
}

.comment-submit-btn {
  padding: 8px 16px;
  font-size: 14px;
  color: white;
  background-color: #0073e6;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.comment-submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.comment-submit-btn:hover:enabled {
  background-color: #005bb5;
}



#contents img {
  max-width: 100%; 
    height: auto; 
}


.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* 검은색 배경에 투명도를 조절합니다 */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* 모달 내용 스타일 */
.modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 5px;
  max-width: 40%; /* 최대 너비를 80%로 제한합니다 */
}


/* 모달 닫기 버튼 스타일 */
.close {
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

/* 화면 너비가 500px 이상일 때 줄바꿈 없애기 */
@media (min-width: 992px) {
  .rounded-box {
    white-space: nowrap; /* 줄바꿈 허용하지 않음 */
    overflow-wrap: normal; /* 기본 단어 줄바꿈 */
  }
}


input,div {
  box-sizing: border-box;
}
.form-box {
  background : white;
  padding : 25px;
  margin: 20px;
  border-radius: 8px;
}
.form-box input {
  padding : 10px;
  font-size: 16px;
  width: 100%;
  border: 1px solid black;
  border-radius: 5px;
  margin-bottom: 10px;
}
.form-box button {
  padding: 10px;
  border : none;
  background : lightgrey;
  border-radius: 5px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
